@import './../../../css-config/mixins.scss';
.single-product-main-cotent {
    margin: 40px 0;
    .single-product-layout {
        max-width: calc(100% - 20px);
        margin: 0 auto;
        @include lg {
            max-width: 1200px;
            padding: 10px;
        }
        .single-product-page {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            @include md {
                flex-direction: row;
            }
            gap: 20px;
            .product-picture {
                background-color: rgba(0, 0, 0, 0.1);
                flex-shrink: 0;
                width: 100%;
                @include md {
                    width: 50%;
                }
                img {
                    width: 100%;
                    display: block;
                    @include md {
                        padding: 75px;
                    }
                }
            }
            .product-details {
                .product-main-details {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    .name {
                        font-size: 24px;
                        font-weight: 500;
                    }
                    .price {
                        font-size: 20px;
                        font-weight: 300;
                        padding: 25px 0;
                    }
                    .description {
                        margin-bottom: 40px;
                    }
                    .inputs {
                        display: flex;
                        gap: 10px;
                        padding-bottom: 25px;
                        .quantity-buttons {
                            width: fit-content;
                            display: flex;
                            border: 2px solid rgba(0, 0, 0, 0.1);
                            height: 50px;
                            span {
                                font-size: 18px;
                                width: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                color: #6b6b6b;
                                &:nth-child(1) {
                                    border-right: 2px solid rgba(0, 0, 0, 0.2);
                                }
                                &:nth-child(3) {
                                    border-left: 2px solid rgba(0, 0, 0, 0.2);
                                }
                                &:nth-child(2) {
                                    width: 70px;
                                }
                            }
                        }
                        .cart-button {
                            background-color: #8e2de2;
                            width: 150px;
                            padding: 10px;
                            border: 1px solid black;
                            color: white;
                            display: flex;
                            gap: 10px;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }
                    }
                }
                .meta-data {
                    padding: 20px 0px;
                    .category-detials {
                        margin-bottom: 20px;
                        display: flex;
                        gap: 4px;
                        .section-name {
                            font-weight: 700;
                        }
                    }
                    .social-media {
                        display: flex;
                        gap: 4px;
                        .section-name {
                            font-weight: 700;
                        }
                        .icons {
                            display: flex;
                            gap: 7px;
                            align-items: center;
                            svg {
                                font-size: 20px;
                                color: #6b6b6b;
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}