@import '../../../css-config/mixins.scss';
.categories-strip {
    margin: 10px 0px;
    @include lg {
        margin: 50px 0;
    }
    display: flex;
    flex-flow: wrap;
    gap: 5px;
    @include lg {
        flex-direction: row;
        max-width: 1200px;
        gap: 10px;
    }
    .category {
        width: calc(50% - 5px);
        @include lg {
            width: calc(25% - 10px);
        }
        background-color: black;
        overflow: hidden;
        cursor: pointer;
        img {
            width: 100%;
            display: block;
            transition: all ease 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}